In [8]:
import pandas as pd

In [10]:
df = pd.read_excel(r"C:\Users\Unknown\Downloads\Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [12]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [15]:
df = df.drop(columns = "Not_Useful_Column")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [26]:
#df["Last_Name"] = df["Last_Name"].str.lstrip("...")
#df["Last_Name"] = df["Last_Name"].str.lstrip("/")
#df["Last_Name"] = df["Last_Name"].str.rstrip("_")
df["Last_Name"] = df["Last_Name"].str.strip("123._/")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [48]:
#df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]','')

#df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

#df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x))

#df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

#df["Phone_Number"] = df["Phone_Number"].str.replace('nan--','')

#df["Phone_Number"] = df["Phone_Number"].str.replace('Na--','')
#df["Phone_Number"] = df["Phone_Number"].str.replace('N/a--','')
#df["Phone_Number"] = df["Phone_Number"].str.replace('--','-')
#df["Phone_Number"] = df["Phone_Number"].str.replace('/','')
df["Phone_Number"] = df["Phone_Number"].str.replace('|','')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-54-5-54,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-64-397,93 West Main Street,No,Yes
2,1003,Walter,White,,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-54-3-23,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-67-834,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-76-2-24,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-67-834,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-54-5-54,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-54-3-23,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-67-834,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-76-2-24,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-54-5-54,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-64-397,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-67-834,"910 Tatooine Road, Tatooine",Yes,N

In [67]:
#df[["Street_Address", "State", "Zip_Code"]] = df["Address"].str.split(',',2, expand=True)
df["Address"].str.split()
#df

0                      [123, Shire, Lane,, Shire]
1                        [93, West, Main, Street]
2                          [298, Drugs, Driveway]
3     [980, Paper, Avenue,, Pennsylvania,, 18503]
4                            [123, Dragons, Road]
5                            [768, City, Parkway]
6                           [1209, South, Street]
7                               [98, Clue, Drive]
8                            [123, Middle, Earth]
9                [25th, Main, Street,, New, York]
10                     [612, Shire, Lane,, Shire]
11                       [2394, Hogwarts, Avenue]
12                           [2039, Main, Street]
13                           [343, City, Parkway]
14                              [214, HR, Avenue]
15                       [2395, Hogwarts, Avenue]
16            [121, Paper, Avenue,, Pennsylvania]
17                            [3498, Super, Lane]
18                                          [N/a]
19               [910, Tatooine, Road,, Tatooine]
Name: Address, dtype: object

In [69]:
#df[["Street_Address", "State", "Zip_Code"]] = df["Address"].str.split(',',2, expand=True)
df["Address"].str.split()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-54-5-54,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-64-397,93 West Main Street,No,Yes
2,1003,Walter,White,,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-54-3-23,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-67-834,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-76-2-24,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-67-834,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-54-5-54,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-54-3-23,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-67-834,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-76-2-24,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-54-5-54,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-64-397,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-67-834,"910 Tatooine Road, Tatooine",Yes,N

In [77]:
df["Address"].str.split(',',1, expand=True)
df

TypeError: StringMethods.split() takes from 1 to 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

In [80]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('Yes','Y')

df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('No','N')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-54-5-54,"123 Shire Lane, Shire",Yes,N
1,1002,Abed,Nadir,123-64-397,93 West Main Street,No,Y
2,1003,Walter,White,,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-54-3-23,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-67-834,123 Dragons Road,Y,N
5,1006,Ron,Swanson,304-76-2-24,768 City Parkway,Yes,Y
6,1007,Jeff,Winger,,1209 South Street,No,N
7,1008,Sherlock,Holmes,876-67-834,98 Clue Drive,N,N
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-54-5-54,"25th Main Street, New York",Yes,N
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,N
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-54-3-23,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-67-834,343 City Parkway,Yes,N
14,1015,Toby,Flenderson,304-76-2-24,214 HR Avenue,N,N
15,1016,Ron,Weasley,123-54-5-54,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-64-397,"121 Paper Avenue, Pennsylvania",Yes,N
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Y
19,1020,Anakin,Skywalker,876-67-834,"910 Tatooine Road, Tatooine",Yes,N

In [95]:
#df = df.replace('N/a','')
#df = df.replace('NaN','')


df=df.fillna('')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-54-5-54,"123 Shire Lane, Shire",Yes,N
1,1002,Abed,Nadir,123-64-397,93 West Main Street,No,Y
2,1003,Walter,White,,298 Drugs Driveway,N,
3,1004,Dwight,Schrute,123-54-3-23,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-67-834,123 Dragons Road,Y,N
5,1006,Ron,Swanson,304-76-2-24,768 City Parkway,Yes,Y
6,1007,Jeff,Winger,,1209 South Street,No,N
7,1008,Sherlock,Holmes,876-67-834,98 Clue Drive,N,N
8,1009,Gandalf,,,123 Middle Earth,Yes,
9,1010,Peter,Parker,123-54-5-54,"25th Main Street, New York",Yes,N
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,N
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,
12,1013,Don,Draper,123-54-3-23,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-67-834,343 City Parkway,Yes,N
14,1015,Toby,Flenderson,304-76-2-24,214 HR Avenue,N,N
15,1016,Ron,Weasley,123-54-5-54,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-64-397,"121 Paper Avenue, Pennsylvania",Yes,N
17,1018,Clark,Kent,,3498 Super Lane,Y,
18,1019,Creed,Braton,,,,Y
19,1020,Anakin,Skywalker,876-67-834,"910 Tatooine Road, Tatooine",Yes,N

In [98]:
for x in df.index:
    if df.loc[x, "Do_Not_Contact"] == 'Y':
        df.drop(x, inplace=True)

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-54-5-54,"123 Shire Lane, Shire",Yes,N
2,1003,Walter,White,,298 Drugs Driveway,N,
4,1005,Jon,Snow,876-67-834,123 Dragons Road,Y,N
6,1007,Jeff,Winger,,1209 South Street,No,N
7,1008,Sherlock,Holmes,876-67-834,98 Clue Drive,N,N
8,1009,Gandalf,,,123 Middle Earth,Yes,
9,1010,Peter,Parker,123-54-5-54,"25th Main Street, New York",Yes,N
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,N
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,
12,1013,Don,Draper,123-54-3-23,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-67-834,343 City Parkway,Yes,N
14,1015,Toby,Flenderson,304-76-2-24,214 HR Avenue,N,N
15,1016,Ron,Weasley,123-54-5-54,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-64-397,"121 Paper Avenue, Pennsylvania",Yes,N
17,1018,Clark,Kent,,3498 Super Lane,Y,
19,1020,Anakin,Skywalker,876-67-834,"910 Tatooine Road, Tatooine",Yes,N

In [108]:
for x in df.index:
    if df.loc[x, "Phone_Number"] == '':
        df.drop(x, inplace=True)

df
#Option 2 (Dropping null values)
#df.dropna(subset="Phone_Number"),inplace=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-54-5-54,"123 Shire Lane, Shire",Yes,N
4,1005,Jon,Snow,876-67-834,123 Dragons Road,Y,N
7,1008,Sherlock,Holmes,876-67-834,98 Clue Drive,N,N
9,1010,Peter,Parker,123-54-5-54,"25th Main Street, New York",Yes,N
12,1013,Don,Draper,123-54-3-23,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-67-834,343 City Parkway,Yes,N
14,1015,Toby,Flenderson,304-76-2-24,214 HR Avenue,N,N
15,1016,Ron,Weasley,123-54-5-54,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-64-397,"121 Paper Avenue, Pennsylvania",Yes,N
19,1020,Anakin,Skywalker,876-67-834,"910 Tatooine Road, Tatooine",Yes,N

In [102]:
df.reset_index()

,index,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,0,1001,Frodo,Baggins,123-54-5-54,"123 Shire Lane, Shire",Yes,N
1,4,1005,Jon,Snow,876-67-834,123 Dragons Road,Y,N
2,7,1008,Sherlock,Holmes,876-67-834,98 Clue Drive,N,N
3,9,1010,Peter,Parker,123-54-5-54,"25th Main Street, New York",Yes,N
4,12,1013,Don,Draper,123-54-3-23,2039 Main Street,Yes,N
5,13,1014,Leslie,Knope,876-67-834,343 City Parkway,Yes,N
6,14,1015,Toby,Flenderson,304-76-2-24,214 HR Avenue,N,N
7,15,1016,Ron,Weasley,123-54-5-54,2395 Hogwarts Avenue,No,N
8,16,1017,Michael,Scott,123-64-397,"121 Paper Avenue, Pennsylvania",Yes,N
9,19,1020,Anakin,Skywalker,876-67-834,"910 Tatooine Road, Tatooine",Yes,N

In [117]:
df = df.reset_index(drop=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-54-5-54,"123 Shire Lane, Shire",Yes,N
1,1005,Jon,Snow,876-67-834,123 Dragons Road,Y,N
2,1008,Sherlock,Holmes,876-67-834,98 Clue Drive,N,N
3,1010,Peter,Parker,123-54-5-54,"25th Main Street, New York",Yes,N
4,1013,Don,Draper,123-54-3-23,2039 Main Street,Yes,N
5,1014,Leslie,Knope,876-67-834,343 City Parkway,Yes,N
6,1015,Toby,Flenderson,304-76-2-24,214 HR Avenue,N,N
7,1016,Ron,Weasley,123-54-5-54,2395 Hogwarts Avenue,No,N
8,1017,Michael,Scott,123-64-397,"121 Paper Avenue, Pennsylvania",Yes,N
9,1020,Anakin,Skywalker,876-67-834,"910 Tatooine Road, Tatooine",Yes,N